body {
    background-color: lightgrey;
}

#screenBorder {
    width: 576px;
    height: 1024px;
}

#collage {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

#collage_content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.photos {
    flex: 1;
    border: solid 1px black;
}

#heading {
    flex: 1;
    border: solid 1px black;
    text-align: center;
}

#photobooth {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

#text_prompt {
    font-size: 50px
}

#canvas {
    display: none;
}

#myVideo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

#photoOutput {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

/*.output {
    width: 340px;
    display: inline-block;
}

.camera {
    width: 340px;
    display: inline-block;
}*/

/**************************************************************/
.buttonSims {
    list-style: none;
    display: flex;
    width: 576px;
    justify-content: space-between;
    padding: 0;
}